<!DOCTYPE html>
{% extends "first_application/base.html" %}

{% block body_block %}


<h4>Artist Name: {{ artist_info.first_name }} {{ artist_info.last_name }}</h4>
<h4>Instrument: {{ artist_info.instrument }}</h4>
<h4>Artist Rating: {{ artist_rating_avg.num_stars__avg }} </h4>
<a href="{% url 'first_application:edit_artist' artist_id=artist_info.id %}" class="btn btn-success btn-sm">Edit</a>

<h3>List of Album:</h3>
<table class="table table-bordered">
  <tr>
    <th>Album Name</th>
    <th>Release Date</th>
    <th>Rating</th>
  </tr>
  {% for album in album_list %}
  <tr>
    <td>{{ album.name }}</td>
    <td>{{ album.release_date|date:"M d, Y" }}</td>
    <td>{{ album.num_stars }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
